<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@{
    ViewBag.Title = "Index";
}

<script>
    $(document).ready(function () {
        $('#btnSubmit').click(function () {
            getOrders();
        });

    });

    function getOrders() {
        $.ajax({
            url: "/Orders/GetOrders",
            type: "GET",
            dataType: "json",
            success: function (result) {
                var output = '';
                $.each(result, function (key, item) {
                    output += 'OrderID: ' + item.Id + '\n';
                    output += 'Customer Name: ' + item.CustomerName + '\n';
                    output += 'Account Number: ' + item.AccountNumber + '\n';
                    output += 'Service Count: ' + item.ServiceCount + '\n\n';
                   
                });
                $('#txtArea').html(output);
            },
            error: function (message) {
                alert(message.responseText);
            }
        });
    }
</script>
<br /><br />
<p>
    <button type="button" id="btnSubmit" class="btn btn-primary">Get All Orders</button>
</p>
<div>
    <textarea id="txtArea" cols="70" rows="20"></textarea>
</div>



